.header_list ul, li{
	display: inline;
}

.header_list a{
	text-decoration: none;
	padding-left: 2%;
}

.header_list{
	position: relative;
    left: 44%;
}

.logo{
	width: 11%;
}



h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
}

h1{
	font-size: 40px;

}

a {
	text-decoration: none;
	color:#837E7C;
}

/* Present Yor App to the World 
*/

.app h2, h4{
	text-align: center;
}

.app_pic{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

