h1, h2, h3, h4, h5, h6, p, a, i{
    font-family: 'Roboto', sans-serif;
    font-weight: 200; 
}

h1{
    font-size: 40px;

}

a {
    text-decoration: none;
    color:#837E7C;
}


/*// START header*/

.header_list {
    position: relative;
    float: right;
    display: block;
}

    @media screen and (min-width: 801px){
        .header_list {
            display: block !important;
        }
    }
    @media screen and (max-width: 800px){
        .header_list {
            background-color: lightgray;
            display: none;
            padding: 0px;
        }
    }


.header_list ul, li{
    display: inline;
}
    @media screen and (max-width: 800px){
        .header_list li {
            display: block;
            text-align: center;
            font-size: 1.5em;
        }
    }

.header_list a{
    text-decoration: none;
    padding-left: 2%;
    font-size: 14px;
}
    @media screen and (max-width: 800px){
        .header_list a {
            display: block;
            text-align: center;
            width: 100%;
            padding: 10px 0px;
            color: white;
        }
        .header_list a:hover {
            background-color: gray;
        }
    }




.hamburger {
    position: absolute;
    right: 20px;
    top: 27px;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid gray;
    padding: 5px 10px 2px;
    border-radius: 5px;
    display: none;
}
    @media screen and (max-width: 800px){
        .hamburger {
            display: block;
        }
    }

.logo{
    float: left;
    padding: 10px 20px;
}

/*END header*/

/*Perfect Landing Page to Showcase App/AppStore*/



.phone-hand img {
    width: 100%;
    max-width: 490px;
}


.perfect_landingPage_text{
	margin-top: 102px;
}

/* Present Yor App to the World 
*/

.app h2{
	padding-top: 76px;
}



.app h2, h4{
    text-align: center;
}

.app_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.app h4{
	padding-bottom: 60px;
	font-size: 18px;
}




/*3 Sections*/

.boxes{
	padding-top: 67px;
	padding-bottom: 106px;
    text-align: center;
}
.boxes i {
    color:green;
    padding-left: 10px;
}

.boxes p{
    color:black;
    background: white;
    font-size: 18px;
    padding:7px;
}








/*Wide Range of Features
*/
.wide_features{
    background: #F1F1F1;
    padding-top: 50px;
    padding-bottom: 100px;
}

.wide_features h2{
    padding-top: 10px;
    text-align: center;

}

.wide_features i{
	padding-bottom:30px;
}

.features_sentence {
    text-align: center;
}

.features_sentence p {
    text-align: center;
     margin-bottom: 70px;
}

.all_features p{ 
    color:black;
    font-size: 15px;
    padding-top:10px;

}

.title{
	font-size: 14px;
}

.left_features{
	text-align: right;
}




.left_features i{
    position: static;
    left: 80%;
    padding-top: 10px;
    color: #A4D055;
}

.right_features i{
	color: #A4D055;
}


/*Share Your Favorite Mobile Apps*/

.favorite{
    background-color: #A0CE4E;
    text-align: center;
}

.favorite{
    font-size: 30px;
}

.bold {
    font-weight: 400;
}

.fav_sentence{
    padding-top: 80px;
}

.fav_icons{
    padding-bottom: 250px;
    color:white;
}

.fav_icons i{
    text-align: center;
    border: 1px solid white;
    border-radius: 19px;
    padding: 34px;
}

/*What did You Recieve with WAVA Showcase*/

.showcase{
    padding-top: 10px;
    background: #F2F2F2;
    padding: 150px 0px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding-bottom: 244px;
    font-size: 15px;
}

.showcase_left{
	margin-bottom: 
}

.showcase_checklist{
    padding-top: 10px;
    font-family: 'Roboto';
    font-weight: 100;
}

.showcase_checklist i{
    padding-bottom: 10px;
}



.relative {
    position: relative;
}

.mob_back{
    position: absolute;
    left: 0px;
    top: -20px;
    z-index: 1;

}

.mob_front{
    position: absolute;
    left: 12%;
    margin: 0px auto;
    top: -40px;
    z-index: 2;
}



/*Describe Your Best Feature
*/

.feature{
	padding-top: 10px;
    background: #F2F2F2;
    padding: 150px 0px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding-bottom: 190px;
    font-size: 15px;
}




.feature_text{
	padding-top:100px;
	overflow: hidden;
	font-size: 18px;
}

.feature_text p{
	font-size: 16px;
}

.right-mob-front {
    position: absolute;
    right: 12%;
    margin: 0px auto;
    top: -40px;
    z-index: 2;

}

.right-mob-back{
	position: absolute;
    right: 0px;
    top: -20px;
    z-index: 1;
}

/*Get In touch Say Hello!*/

.hello{
	background: #F4F4F4;
	text-align: center;
	padding-bottom: 90px;
	padding-top: 90px;
}

.form-control{
	height: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 32%;
    font-size: 12px;
    box-shadow: none;
}

.button{
	background-color: #A0CE4E; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

/*Bottom Logo and Links*/

footer{
	background: #29282B;
	text-align: center;
	padding-bottom: 200px;
}

.footer_logo{
	padding-top: 96px;

}

.socialList i{
	color:white;
	margin-left: 3px;
}


.social_name{
	font-family: 'Roboto', sans-serif;
}

hr{
	width:40%;
	color:black;
}

.designBy{
	color:white;
	font-size: 14px;
}
















