h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200; 
}

h1{
    font-size: 40px;

}

a {
    text-decoration: none;
    color:#837E7C;
}


/*// START header*/

.header_list {
    position: relative;
    float: right;
    display: block;
}

    @media screen and (min-width: 801px){
        .header_list {
            display: block !important;
        }
    }
    @media screen and (max-width: 800px){
        .header_list {
            background-color: lightgray;
            display: none;
            padding: 0px;
        }
    }


.header_list ul, li{
    display: inline;
}
    @media screen and (max-width: 800px){
        .header_list li {
            display: block;
            text-align: center;
            font-size: 1.5em;
        }
    }

.header_list a{
    text-decoration: none;
    padding-left: 2%;
}
    @media screen and (max-width: 800px){
        .header_list a {
            display: block;
            text-align: center;
            width: 100%;
            padding: 10px 0px;
            color: white;
        }
        .header_list a:hover {
            background-color: gray;
        }
    }




.hamburger {
    position: absolute;
    right: 20px;
    top: 27px;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid gray;
    padding: 5px 10px 2px;
    border-radius: 5px;
    display: none;
}
    @media screen and (max-width: 800px){
        .hamburger {
            display: block;
        }
    }

.logo{
    float: left;
    padding: 10px 20px;
}

/*END header*/







/*perfect landing page*/


.phone-hand img {
    width: 100%;
    max-width: 490px;
}


/* Present Yor App to the World 
*/

.app h2, h4{
    text-align: center;
}

.app_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*3 Sections*/

.boxes{
	padding: 4%;
}
.boxes i {
	color:green;
	padding-left: 40%;
}

.boxes p{
	color:black;
	background: white;
}


/*Wide Range of Features
*/
.wide_features{
	background: #F1F1F1;
}

.wide_features h2{
	padding-top: 3%;
	text-align: center;
}

.features_sentence {
	text-align: center;
}

.all_features p{ 
	color:black;
}

.left_features i{
	position: static;
	left: 80%;
	padding-top: 

}

/*Share Your Favorite Mobile Apps*/

.favorite{
	background-color: #A0CE4E;
	text-align: center;
}

.favorite{
	font-size: 30px;
}

.bold {
    font-weight: 400;
}

.fav_sentence{
	padding-top: 15%;
}

.fav_icons{
	padding-bottom: 15%;
	color:white;
}

.fav_icons i{
	text-align: center;
	border: 1px solid white;
	border-radius: 25px;
	padding: 2%;
}

/*What did You Recieve with WAVA Showcase*/

.showcase{
	padding-top: 3%;
	background: #F2F2F2;
}

.showcase_checklist{
	padding-top: 3%;
}

.showcase_checklist i{
	padding-bottom: 3%;
}


.mob_back{
	/*position: absolute;
    left: 0px;
    top: -20px;
    z-index: 1;*/

}

.mob_front{
/*	position: absolute;
    left: 12%;
    margin: 0px auto;
    top: -40px;
    z-index: 2;*/
}



